* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0 2.4rem 2.4rem 2.4rem;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-family: "Bellefair", serif;
}

.header {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  padding-top: 2.4rem;
}

.nav__menu {
  padding-top: 2.4rem;
}

.nav__btn {
  display: none;
}

.nav____list {
  gap: 2rem;
}

.nav__item {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

.nav__item span {
  font-weight: bold;
}

@media (max-width: 500px) {
  .nav__btn {
    display: block;
    background-image: url("../starter-code/assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
    width: 2.4rem;
    height: 2.1rem;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 2.4rem;
    right: 0;
    margin-top: 0.9rem;
  }
  .nav__menu {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    inset: 0 0 0 30%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(40.7742px);
            backdrop-filter: blur(40.7742px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__menu.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav__list {
    margin-top: 11.6rem;
    gap: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 600px) {
  .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item span {
    display: none;
  }
  .nav__list {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav__item {
    font-size: 1.4rem;
  }
  .nav__menu {
    height: 100%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.04);
  }
}

.home-page {
  background-image: url("../starter-code/assets/home/background-home-mobile.jpg");
}

.home {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #d0d6f9;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__content {
  height: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}

.home__title {
  color: #ffffff;
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 400;
}

.home__btn {
  height: 40%;
}

.home__intro {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2.7px;
}

.home__text {
  line-height: 2.5rem;
}

.home__btn {
  border-radius: 50%;
  border: none;
  width: 15rem;
  height: 15rem;
  margin-bottom: 2rem;
}

.home__btn a {
  color: #0b0d17;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Bellefair", serif;
  letter-spacing: 1.25px;
}

.destination-page {
  background-image: url("../starter-code/assets/destination/background-destination-mobile.jpg");
}
/*# sourceMappingURL=schowek.css.map */